;@iqkv:registry=https://know-how.nexus/repository/iqkv-npm
;registry=https://know-how.nexus/repository/npm-mirror
;always-auth=true
;//know-how.nexus/repository/iqkv-npm:_auth=
;//know-how.nexus/repository/npm-mirror:_auth=